/* Google fonts import */
@import url("");


/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /* FIX COLORs */
    background-color: rgb(227, 227, 237);
    color: aliceblue;
    display: flex;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
}

/* NAVBAR */
.active {
    color: rgb(211, 215, 218);
    font-style: none;
}

nav {
    position: absolute;
    color: aliceblue;
    left: 0;
    display: none;
    width: 100%;
    top: 100%;
    padding: 0 1rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    }
    
#nav-toggle {
    display: none;
}
    
.nav-toggle-label {
    font-size: 2rem;
    color: #3a3a3a;
}

.link {
    text-decoration: none;
    color: #000000;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 100px;

}

body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    /* Make main element take up any space and push footer to bottom */
    flex: 1 0 auto;
    min-height: 100vh;
}





/* Contact Page  */
fieldset {
    padding: 1rem;
    margin: 10px;
    max-width: 90vw;
}



/* Services Page */
#repertoire {
    margin: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: fit-content;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: #3a3a3a;
}

footer {
    background-color: blueviolet;
    display: flex;
}

/* GALLERY */
#gallery {
    padding-top: 30px;
}

#photos {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    border: solid 2px #000000;
    max-width: 100%;
    max-height: auto;
}

#video {
    background-color: #3a3a3a;
    padding: 10px;
}