/* Playfair Display font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap');

/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* Sticky Navbar */
#navbar {
    background-color: #D9D7D7;
    font-family: 'Playfair Display', serif;
    color: #3a3a3a;
    display: flex;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
}

#navbar a {
    text-decoration: none;
    color: #000000;
    margin: 10px 10px;

}

nav {
    position: absolute;
    background-color: aliceblue;
    left: 0;
    display: none;
    width: 100%;
    top: 100%;
    padding: 0 1rem;
}

#menu   {
    list-style-type: none;
    letter-spacing: 1px;
}

.active {
    color: rgb(211, 215, 218);
    font-style: none;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
    box-shadow: 0 2px 2px #3a3a3a;
    }
    
#nav-toggle {
    display: none;
}
  
.nav-toggle-label {
    font-size: 1.5rem;
    color: #3a3a3a;
}

.link {
    text-decoration: none;
    color: #000000;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 76px;
    margin-left: 10px;
    margin-right: 10px;

}

#hero {
    width: 100%;
    max-height: 30rem;
}

body {
    background-color: #D9D7D7;
    display: flex;
    flex-direction: column;
    /* Make main element take up any space and push footer to bottom */
    flex: 1 0 auto;
    min-height: 100vh;
    font-size: 100%;
}

/* Received message page */
#received-message {
    align-self: center;
}

/* Contact Page  */
fieldset {
    padding: 0.5rem;
    margin: 5px;
    max-width: 90vw;
}

#contact-tips {
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
}


#reset-label {
    font-size: small;
    font-style: italic;
    font-weight: 500;
}

/* Services Page */
#repertoire {
    margin: 0rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: #3a3a3a;
}

table, th, td {
    max-width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-bottom: 1px solid #485953;

}

th, td  {
    height: 70px;
}

#classical th {
    font-size: 20px;
}

#contemporary th {
    font-size: 12px;
    padding: 5px;
}

td {
    font-size: 10px;
}

#contemporary td {
    padding-bottom: 2px;
}


/* GALLERY */
#gallery {
    margin: 1rem 1rem;
    display: flex;
}

#photos {
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    max-width: 90%;
}

iframe {
    max-width: 90vw;
    padding: 10px;
}

footer {
    background-color: #485953;
    height: 25px;
    width: 100%;
    color: #D9D7D7;
    display: flex;

}